body{
    background-image: url(https://ae01.alicdn.com/kf/HLB190ZGLMHqK1RjSZFkq6x.WFXau/Cartoon-Cute-Train-Theme-Backdrop-for-Photography-Kids-Train-Birthday-Party-Photo-Background-Children-Theme-Birthday.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}